<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLM Chatbot</title>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.3.5/dist/vuetify.min.css" rel="stylesheet">
    <style>
        .chat-container {
            height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .messages-container {
            flex-grow: 1;
            overflow-y: scroll;
            width: 70%;
            display: flex;
            flex-direction: column;
            margin: auto;
        }

        .message {
            margin-bottom: 16px;
            max-width: 70%;
            white-space: normal;
            word-wrap: break-word;
            position: relative;
        }

        .message-user {
            align-self: flex-end;
        }

        .message-bot {
            align-self: flex-start;
        }

        .toggle-container {
            display: flex;
            justify-content: flex-start;
        }

        .mode-button {
            text-transform: none;
            min-width: 100px;
            margin-right: 4px;
        }

        .mode-button.active {
            background-color: #1976D2;
            color: white;
        }
    </style>
</head>
<body>
<div id="app">
    <v-app>
        <v-app-bar color="primary" density="compact">
            <v-app-bar-title>LLM Chatbot</v-app-bar-title>
            <v-spacer></v-spacer>
            <v-app-bar-nav-icon variant="text" icon="mdi-cog"
                                @click.stop="settingsOpen = !settingsOpen"></v-app-bar-nav-icon>
        </v-app-bar>
        <v-navigation-drawer
                v-model="settingsOpen"
                location="right"
                width="500"
                temporary
        >
            <v-container>
                <v-row class="py-5 px-2">
                    <v-text-field
                            v-model.number="topK"
                            label="Top K"
                            type="number"
                            min="1"
                            step="1"
                            hint="Number of highest probability vocabulary tokens to keep for top-k-filtering"
                            persistent-hint
                    ></v-text-field>
                </v-row>
                <v-row class="py-5 px-2">
                    <v-slider
                            v-model="topP"
                            label="Top P"
                            min="0"
                            max="1"
                            step="0.01"
                            thumb-label="always"
                            hint="Cumulative probability for top-p-filtering"
                            persistent-hint
                    ></v-slider>
                </v-row>
                <v-row class="py-5 px-2">
                    <v-slider
                            v-model="temperature"
                            label="Temperature"
                            min="0.01"
                            max="2"
                            step="0.01"
                            thumb-label="always"
                            hint="Controls randomness in generation (higher = more random)"
                            persistent-hint
                    ></v-slider>
                </v-row>
            </v-container>
        </v-navigation-drawer>
        <v-main class="bg-grey-lighten-4">
            <v-container class="messages-container">
                <transition-group name="slide-y-transition">
                    <v-card
                            v-for="(message, index) in messages"
                            :key="index"
                            :class="['message', message.role === 'user' ? 'message-user' : 'message-bot']"
                            :color="message.role === 'user' ? 'blue-darken-3' : 'grey-darken-3'"
                            variant="outlined"
                            min-width="40%"
                            :loading="!message.isLoaded"
                    >
                        <v-card-item>
                            <v-card-title>
                                <template v-if="message.role === 'user'">
                                    <v-icon icon="mdi-account"></v-icon>
                                    <span>User</span>
                                </template>
                                <template v-else>
                                    <v-icon icon="mdi-robot"></v-icon>
                                    Chatbot
                                </template>
                            </v-card-title>
                        </v-card-item>
                        <v-card-text v-if="message.isLoaded">
                            <template v-if="message.role == 'user'">
                                {{ message.content }}
                            </template>
                            <template v-else>
                                <template v-if="currentMode === 'Base' && index === lastAssistantIndex">
                                    {{ baseText }}
                                </template>
                                <template
                                        v-else-if="currentMode === 'Fine-tuned' && index === lastAssistantIndex">
                                    {{ fineTunedText }}
                                </template>
                                <template v-else>
                                    {{ message.content }}
                                </template>
                            </template>
                        </v-card-text>
                        <v-card-actions
                                v-if="message.role === 'assistant' && message.isLoaded && index === lastAssistantIndex">
                            <div class="toggle-container">
                                <v-btn v-for="mode in modes"
                                       :key="mode"
                                       class="mode-button"
                                       :class="{ active: currentMode === mode }"
                                       @click="changeMode(index, mode)"
                                       density="compact"
                                       text>
                                    {{ mode }}
                                </v-btn>
                            </div>
                        </v-card-actions>
                    </v-card>
                </transition-group>
            </v-container>
        </v-main>
        <v-footer app>
            <v-container class="w-75">
                <v-form @submit.prevent="sendMessage">
                    <v-row no-gutters>
                        <v-col>
                            <v-text-field
                                    v-model="newMessage"
                                    placeholder="Type your message"
                                    variant="outlined"
                                    density="comfortable"
                                    hide-details
                                    class="mr-2"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="auto">
                            <v-btn type="submit" color="primary" elevation="0" class="h-100 mr-2">
                                <v-icon icon="mdi-send"></v-icon>
                            </v-btn>
                            <v-btn variant="outlined" class="h-100" @click="startNewConversation()">
                                New Conversation
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-form>
            </v-container>
        </v-footer>
    </v-app>
</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.5/dist/vuetify.min.js"></script>
<script>
    const {createApp} = Vue;
    const {createVuetify} = Vuetify;

    const vuetify = createVuetify({
        theme: {
            defaultTheme: 'light',
            themes: {
                light: {
                    colors: {
                        primary: '#1976D2',
                    },
                },
            },
        },
    });

    const app = createApp({
        data() {
            return {
                messages: [],
                newMessage: '',
                settingsOpen: false,
                errorMessage: 'Sorry, there was an error processing your request.',
                // Settings
                temperature: 0.9,
                topK: 25,
                topP: 0.95,
                // Modes
                modes: ['Fine-tuned w/ DPO', 'Fine-tuned', 'Base'],
                currentMode: 'Fine-tuned w/ DPO',
                fineTunedText: null,
                baseText: null,
            };
        },
        computed: {
            lastAssistantIndex() {
                for (let i = this.messages.length - 1; i >= 0; i--) {
                    if (this.messages[i].role === 'assistant') {
                        return i;
                    }
                }
                return -1;
            },
        },
        methods: {
            changeMode(index, mode) {
                const message = this.messages[index];
                this.currentMode = mode;
                if (
                    (mode === 'Fine-tuned' && this.fineTunedText === null) ||
                    (mode === 'Base' && this.baseText === null)
                ) {
                    message.isLoaded = false;
                    this.getChatbotResponse()
                        .then(response => response.json())
                        .then(data => {
                            if (mode === 'Fine-tuned') {
                                this.fineTunedText = data;
                            } else {
                                this.baseText = data;
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            if (mode === 'Fine-tuned') {
                                this.fineTunedText = this.errorMessage;
                            } else {
                                this.baseText = this.errorMessage;
                            }
                        })
                        .finally(() => {
                            message.isLoaded = true;
                        });
                }
            },
            sendMessage() {
                if (this.newMessage.trim()) {
                    this.messages.push({role: 'user', content: this.newMessage, isLoaded: true});
                    this.messages.push({role: 'assistant', content: null, isLoaded: false});

                    this.getChatbotResponse()
                        .then(response => response.json())
                        .then(data => {
                            this.messages.pop();
                            this.messages.push({role: 'assistant', content: data, isLoaded: true});
                            this.$nextTick(() => {
                                this.scrollToBottom();
                            });
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            this.messages.pop();
                            this.messages.push({
                                role: 'assistant',
                                content: this.errorMessage,
                                isLoaded: true
                            });
                            this.$nextTick(() => {
                                this.scrollToBottom();
                            });
                        })
                        .finally(() => {
                            this.baseText = null;
                            this.fineTunedText = null;
                            this.currentMode = 'Fine-tuned w/ DPO'
                        });

                    this.newMessage = '';
                }
            },
            getChatbotResponse() {
                return fetch('https://app.beam.cloud/asgi/public/91999622-60d3-4092-b3a0-da7adb2140aa/chat', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Connection': 'keep-alive',
                    },
                    body: JSON.stringify({
                        messages: this.messages.slice(-11, -1),
                        mode: this.currentMode,
                        config: {
                            temperature: this.temperature,
                            top_p: this.topP,
                            top_k: this.topK
                        }
                    }),
                });
            },
            scrollToBottom() {
                const container = document.querySelector('.messages-container');
                container.scrollTop = container.scrollHeight;
            },
            startNewConversation() {
                this.messages = [];
            }
        }
    });

    app.use(vuetify).mount('#app');
</script>
</body>
</html>
