transformers==4.44.2
pandas==2.2.2
datasets==2.21
accelerate==0.34.2
sentencepiece==0.2.0
trl==0.10.1
peft==0.12.0
instructor==1.4.2
beam-client==0.2.77
bitsandbytes==0.43.3
anthropic==0.36.2
scikit-learn==1.5.2
seaborn==0.13.2